.vscode/*

# macOS:
.DS_Store

dist/
trashbin/
src/tests/
src/db/supabase/
node_modules/
.env
.env.development
.env.production
.serverless
secrets.json
*.scss.d.ts

# Log-files
yarn-error.log
report.*.json
